body{
background-color: blue;
}

#login{
    margin-top: 15rem;
}

#lineaVertical{
   background: white;
   margin-top: 5rem;

}

#logo{

    margin-top: 20rem;
    color: white;
  
}

#titulo{
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

#btn-registrar{

    color: white;
}